/* Fonts! "./fonts" */
/* Montserrat Alternates fonts: Bold, Regular */
@font-face {
  font-family: "MontserratAlternates-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/MontserratAlternates-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratAlternates-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/MontserratAlternates-Regular.ttf") format("truetype");
}

/* Set color vars */
:root {
  --color-dark-grey: #5e5d5a;
  --color-reallydark-grey: #333;
  --color-reason-mainbg: #bedda8;
  --color-reason-1: #fae06c;
  --color-reason-2: #f9cb61;
  --color-reason-3: #f7ac52;
  --color-reason-4: #ff8638;
  --color-reason-5: #f05023;
  --color-skyblue: #9eccff;
  --color-cyan: #08acda;
  --color-unpatched: #ff5555;
  --color-patched: #55ff55;
}
.error {
  color: var(--color-unpatched);
}

.success {
  color: var(--color-patched);
}

.warning {
  color: var(--color-reason-3);
}

* {
  box-sizing: border-box;
  font-family: "MontserratAlternates-Regular", sans-serif;
  margin: 0;
  user-select: none;
}

/* Disable text selection and highlighting */
html {
  color: white;
}

body {
  background-color: var(--color-reallydark-grey);
}

h1 {
  font-family: "MontserratAlternates-Bold", sans-serif;
  font-size: 4rem;
}

#title-bar {
  display: block;
  position: fixed;
  height: 38px;
  width: calc(100% - 2px);
  padding: 8px;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  position: absolute;
  top: 0;
  right: 0;
  height: fit-content;
  grid-template-columns: repeat(2, 38px);
  -webkit-app-region: no-drag;
  padding: 8px;
}

#window-controls > div {
  fill: white;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#window-controls > div:hover {
  fill: var(--color-reason-1);
}

#window-controls > div > svg {
  cursor: pointer;
}

#window-controls #close {
  cursor: pointer;
}

#main-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* height: 100%; */
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header > .title {
  color: var(--color-reason-4);
  /* Set a color gradient from reason-3 to reason-5 */
  background: linear-gradient(
    to right,
    var(--color-reason-3),
    var(--color-reason-4),
    var(--color-reason-5)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.header > .subtitle {
  color: var(--color-reason-5);
  margin-left: 4px;
}

button {
  background-color: var(--color-reason-4);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 1em;
  font-size: large;
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-dark-grey);
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 280px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.box > * {
  margin: 12px 0;
}

.divider {
  width: 4px;
  height: 100%;
  background-color: var(--color-reason-4);
}

#download-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
#download-option > * {
  margin: 0 12px;
}

#spinhat-commitinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px;
  width: 100%;
}

.status {
  margin: 0;
  text-align: center;
  max-width: 240px;
}

#spinhat-commitinfo-hover {
  position: relative;
  display: inline-block;
}

#spinhat-commitinfo-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
  color: black;
  padding: 10px;
  background: whitesmoke;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px;
  height: fit-content;
  width: max-content;
}



#patcher > * {
  margin: 12px;
}

#patch-option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 240px;

}

/* Select dropdown */
select {
  border: none;
  padding: 10px;
  background-color: var(--color-reason-2);
  border-radius: 6px;
}

/* Light green and light refd for patched/unpatched on patch-status span */
/* #patch-status {
  color: var(--color-reason-3);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
} */



.content > * {
  margin: 12px;
}
